.sectionone {
    height: 300px;
    width: 1920px;
    background-color: $color-dark-4;
    border-top: 1px solid;
    border-bottom: 1px solid;

    .infoimg{
        text-align: center;
        font-size: 80px;
        margin-top: 20px;
    }

    .infoshop {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin-top: 10px;
        color: $color-dark-3;
    }


    
    
}      




