.imagedisplay-end {
    height: 285px;
    width: 2000px;
    background-color: $color-theme-3;
    margin: 0 auto;
    margin-left: -50px; 
    
    img {
        width: 100%;
        height: auto;
    }

    .container {
        max-width: 1180px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
        .display-end-grid {
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 40px;
          
            @include md {
                grid-template-columns: repeat(2, 1fr);
            }
            @include lg {
                grid-template-columns: repeat(3, 1fr);
            }
            @include xl {
                grid-template-columns: repeat(5, 1fr);
            }

            .collection-item {
            
                .body {
            
                    .tocart {
                        padding: 2px;
                        font-size: 12px;
                        color: $color-dark-2;
            
                        &:hover {
                            color: $color-dark-4;
                        }
                    }
                }
            }
        }

    }


}